---
import Layout from '../../layouts/Layout.astro'
import { Content } from './about.md'
---

<Layout title="关于我">
    <div class="max-w-5xl mx-auto">
        <article class="my-4">
            <Content />
        </article>
    </div>
</Layout>
