<div class="bg-back p-4 border border-br rounded-md shadow-sm">
  <div>
    <img src="https://www4.bing.com//th?id=OHR.NappingLion_ZH-CN1214312983_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp" alt="avatar" class="rounded-full w-36 h-36 mx-auto object-cover">
  </div>

  <div class="mt-2 flex flex-col items-center gap-2">
    <h2 class="text-2xl font-bold text-center text-primary mt-4">Akbar</h2>
    <a class="p-2 inline-flex items-center justify-center rounded-md bg-hover-back text-content-primary hover:bg-primary hover:text-white transition-colors w-full cursor-pointer">Follow Me</a>
  </div>
</div>