---
interface Props {
  classes?: string
  id?: string
  isRounded?: boolean
}
const { classes = '', id = '', isRounded = true } = Astro.props
---

<button
  class={`inline-flex items-center justify-center transition-colors hover:bg-hover-back text-content-primary cursor-pointer border-br ${isRounded ? 'border rounded-md' : ''} ${classes}`}
  id={id}
>
  <slot />
</button>
