---
import { Icon } from 'astro-icon/components'

interface Props {
  tags: string[]
}
const { tags } = Astro.props as Props
---

<div class="flex flex-col gap-2 bg-back p-4 border border-br rounded-md shadow-sm">
  <h3 class="flex items-center gap-1 text-lg md:text-xl font-semibold text-primary">
    <Icon name="mdi:tag-multiple" />Tags
  </h3>

  <div class="flex flex-wrap gap-3">
    {
      tags?.map((tag) => (
        <a
          href={`/tags/${tag}`}
          class="inline-flex items-center text-sm"
        >
          <span class="w-2.5 h-2.5 mr-1 inline-block rounded-full bg-primary" />
          <span class="font-medium text-content-primary hover:text-primary transition-colors">{tag}</span>
        </a>
      ))
    }
  </div>
</div>
