---
import Header from './Header.astro'
import Main from './Main.astro'
import Footer from './Footer.astro'
import '@/styles/global.css'

interface Props {
  title?: string
  description?: string
}
const { title = 'Github Blog', description = 'This is home page' } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer/>
  </body>
</html>
