---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props
---

<Layout title={ frontmatter.title }>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 py-4 px-1 md:mx-6">
        <article>
            <slot/>
        </article>

        <div class="hidden md:block w-full md:col-span-1">
            <div class="card-style">

            </div>
        </div>
    </div>
</Layout>
